.ng-select
  .display-text{ng: {show: "!ng_select.menu_visible",
    click: "ng_select.display_text_clicked($event)"}}
    .info{ng: {if: "ng_select.is_empty(ng_select.selected_text)"}}
      {{ng_select.placeholder}}
    %div{ng: {if: "!ng_select.is_empty(ng_select.selected_text)"}}
      {{ng_select.selected_text}}
  .ng-select-query-input{ng: {show: "ng_select.menu_visible"}}
    %input{"ng-blur" => "ng_select.menu_visible = false",
      "ng-change" => "ng_select.update_items()",
      "ng-keydown" => "ng_select.input_keydown($event)",
      "ng-model" => "ng_select.query",
      :placeholder => "{{ng_select.placeholder}}",
      :type => "text"}/
  .menu{"ng-show" => "ng_select.menu_visible"}
    %ul.ng-select-options
      %li{ng: {if: "ng_select.is_empty(ng_select.filtered_items.array)"}}
        .info
          %div{ng: {if: "ng_select.is_empty(ng_select.query)"}}
            Type to begin searching
          %div{ng: {if: "!ng_select.is_empty(ng_select.query)"}}
            No matching results
      %li.option{"ng-class" => "{selected: ng_select.filtered_items.is_selected($index)}", "ng-mousedown" => "ng_select.item_clicked(item)", "ng-repeat" => "item in ng_select.filtered_items.array"}
        %ng-transclude