.card.first
  .row
    .col-md-12
      %h1 Contact Details
  .row
    .row
      .col-md-6
        .field
          %label.required First Name
          %input{type: "text", ng: {model: "selected_contact.first_name"}, name: "selected_contact[first_name]", autofocus: true}
      .col-md-6
        .field
          %label.required Last Name
          %input{type: "text", ng: {model: "selected_contact.last_name"}, name: "selected_contact[last_name]"}
    .row
      .col-md-6
        .field
          %label.required Job Title
          %input{type: "text", ng: {model: "selected_contact.job_title"}, name: "selected_contact[job_title]"}
      .col-md-6
        .field
          %label.required Phone Number
          %input{type: "text", ng: {model: "selected_contact.phone_number"}, name: "selected_contact[phone_number]"}
    .row
      .col-md-6
        .field
          %label.required Email address
          %input{type: "text", ng: {model: "selected_contact.email"}, name: "selected_contact[email]"}
      .col-md-6
        .field
          %label.required Telegram Number
          %input{type: "text", ng: {model: "selected_contact.telegram_number"}, name: "selected_contact[telegram_number]"}
    .row
      .col-md-6
        %field
          %ul
            %li{"ng-repeat" => "(role, enabled) in selected_contact.roles"}
              %label
                %input{type: "checkbox", "ng-model" => "selected_contact.roles[role]"}
                  {{role.humanize()}}

      .col-md-6
        .field
          %label.required Sex
          .custom-select
            %select{name: "selected_contact[sex]" ,ng: {model: "selected_contact.sex",
              options: "sex.humanize() for sex in enum.contact.sexes"}}