.new-contact-modal.modal.fade{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %h1
          New Contact
      .modal-body
        = render "contacts/form"
      .modal-footer.text-right
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close
        %button.btn.btn-primary{type: "button", "data-loading-text" => "Creating...", ng: {click: "create_contact(selected_contact)"}}
          Create contact

