.card.first
  .row
    .col-md-12
      %h1 Subscription Details
  .row
    .col-md-12
      %label.required Plan
      .custom-select
        %select{name: "subscription[plan]" ,ng: {model: "view_model.subscription.plan",
          options: "plan.name for plan in plans track by plan.id"}}
    .col-md-12
      %label.required Client
      .custom-select
        %select{name: "subscription[client]" ,ng: {model: "view_model.subscription.client",
          options: "client.name for client in clients track by client.id"}}
    .col-md-12
      %label.required Started at
      %input{"ng-datepicker"=>true,"ng-model"=>"view_model.subscription.started_at"}
    .col-md-12
      %label.required Ended at
      %input{"ng-datepicker"=>true ,"ng-model"=>"view_model.subscription.ended_at"}