.new-subscription-modal.modal.fade{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %h1
          New Subscription
      .modal-body
        = render "subscriptions/form"
      .modal-footer.text-right
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close
        %button.btn.btn-primary{type: "button", "data-loading-text" => "Creating...", ng: {click: "create_subscription(view_model.subscription)"}}
          Create Subscription

