.settings-subscription-modal.modal.fade{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %h1
          Subscription Details
      .modal-body
        = render "subscriptions/form"
      .modal-footer.text-right
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close
        %button.btn.btn-primary{type: "button", "data-loading-text" => "Updating...", ng: {click: "update_subscription($event)"}}
          Update Subscription Details
