= page_title "Manage Subscriptions"
.page.clients-manage{ng: {controller: "subscriptions_manage_controller"}}
  = render "subscriptions/new_subscription_modal"
  = render "subscriptions/settings_subscription_modal"
  .card.first
    .row
      .col-xs-6
        %h1 Subscriptions ({{Subscription.index.length || 0}})
      .col-xs-6.text-right
        %button.btn.btn-default{ng: {click: "open_new_subscription_modal($event)"}}
          New Subscription
    .table.td-padding-small
      .tr.border-bottom
        .td
          %strong Plan
        .td
          %strong Client
        .td
          %strong Started At
        .td
          %strong Ended At
        .td
      .tr.border-bottom{ng: {repeat: "subscription in Subscription.index"}}
        .td
          {{subscription.plan.name}}
        .td
          {{subscription.client.name}}
        .td
          {{subscription.started_at | date:'yyyy-MM-dd HH:mm:ss Z'}}
        .td
          {{subscription.ended_at | date:'yyyy-MM-dd HH:mm:ss Z' }}
        .td
          %button.btn.btn-default{ng: {click: "open_settings_subscription_modal(subscription, $event)"}}
            Settings
    .row{ng: {if: "is_empty(Subscription.index)"}}
      .col-md-12
        .info
          No subscriptions yet
