= page_title "{{gon.plan.name}}"
.page.clients-manage{ng: {controller: "plans_show_controller"}}
  .card.first
    .row
      .col-md-6
        %h2 Company Information
      .col-md-6
        %h2 Key Contact
        %ul{"ng-if" => "!is_empty(client.primary_contact)"}
          %li
            {{client.primary_contact.name}}
          %li
            {{client.primary_contact.job_title}}
          %li
            {{client.primary_contact.phone_number}}
          %li
            {{client.primary_contact.telegram_number}}
          %li
            {{client.primary_contact.email}}
        %h2 Billing Contact
        %ul{"ng-if" => "!is_empty(client.billing_contact)"}
          %li
            {{client.billing_contact.name}}
          %li
            {{client.billing_contact.job_title}}
          %li
            {{client.billing_contact.phone_number}}
          %li
            {{client.billing_contact.telegram_number}}
          %li
            {{client.billing_contact.email}}
    .row
      .col-md-12
        = render "/contacts/new_contact_modal"
        = render "/contacts/settings_contact_modal"
        .card.first
          .row
            .col-xs-6
              %h1 Other Contacts ({{client.contacts.length || 0}})
            .col-xs-6.text-right
              %button.btn.btn-default{ng: {click: "open_new_contact_modal($event)"}}
                New contact
          .table.td-padding-small
            .tr.border-bottom
              .td
                %strong Name
              .td
                %strong Email
              .td
                %strong Telegram No.
              .td
            .tr.border-bottom{ng: {repeat: "contact in client.contacts"}}
              .td
                {{contact.name}}
              .td
                {{contact.email}}
              .td
                {{contact.telegram_number}}
              .td
                %button.btn.btn-default{ng: {click: "open_settings_contact_modal(contact, $event)"}}
                  Settings
          .row{ng: {if: "is_empty(client.contacts)"}}
            .col-md-12
              .info
                No contacts yet
