.card.first
  .row
    .col-md-12
      %h1 Plan Details
  .row
    .col-md-12
      .field
        %label.required Name
        %input{type: "text", ng: {model: "view_model.plan.name"}, name: "plan[name]", autofocus: true}
      .field
        %label.required Max Chats Per Month
        %input{type: "text", ng: {model: "view_model.plan.max_chats_per_month"}, name: "plan[max_chats_per_month]"}
      .field
        %label.required Max Sales Reps
        %input{type: "text", ng: {model: "view_model.plan.max_sales_reps"}, name: "plan[max_sales_reps]"}
      .field
        %label.required Price (GBP)
        %input{type: "text", ng: {model: "view_model.plan.price_gbp"}, name: "plan[price_bgp]"}
      .field
        %label.required Price (AED)
        %input{type: "text", ng: {model: "view_model.plan.price_aed"}, name: "plan[price_aed]"}