= page_title "Manage Plans"
.page.clients-manage{ng: {controller: "plans_manage_controller"}}
  = render "plans/new_plan_modal"
  = render "plans/settings_plan_modal"
  .card.first
    .row
      .col-xs-6
        %h1 Plans ({{Plan.index.length || 0}})
      .col-xs-6.text-right
        %button.btn.btn-default{ng: {click: "open_new_plan_modal($event)"}}
          New Plan
    .table.td-padding-small
      .tr.border-bottom
        .td
          %strong Name
        .td
          %strong Max Chats Per Month
        .td
          %strong Max Sales Reps
        .td
          %strong Price (GBP)
        .td
          %strong Price (AED)
        .td
      .tr.border-bottom{ng: {repeat: "plan in Plan.index"}}
        .td
          {{plan.name}}
        .td
          {{plan.max_chats_per_month}}
        .td
          {{plan.max_sales_reps}}
        .td
          {{plan.price_gbp | currency }}
        .td
          {{plan.price_aed | currency }}
        .td
          %button.btn.btn-default{ng: {click: "open_settings_plan_modal(plan, $event)"}}
            Settings
    .row{ng: {if: "is_empty(Plan.index)"}}
      .col-md-12
        .info
          No plans yet
